body {
    font-size: 24px;
    background-color: #dfe6e9;
}

#completed-tasks {

}

#main-body {
    margin-top: 3rem;
}



.todo-containers {
    display: flex !important;
    flex-wrap: nowrap;
    justify-content: space-between;
}